*y/[Aa]ssets/**/*.meta
*/[Ll]ibrary/
*/[Tt]emp/
*/[Oo]bj/
*/[Bb]uild/
*/[Bb]uilds/
*/[Ll]ogs/
*/[Uu]ser[Ss]ettings/
*/[Mm]emoryCaptures/
*/[Aa]ssets/AssetStoreTools*
*/[Aa]ssets/Plugins/Editor/JetBrains*
*/[Dd]ebug/
*/[Dd]ebugPublic/
*/[Rr]elease/
*/[Rr]eleases/
*/x64/
*/x86/
*/[Aa][Rr][Mm]/
*/[Aa][Rr][Mm]64/
*/[Bb]in/
*/[Oo]bj/
*/[Ll]og/
*/[Ll]ogs/
*/.idea/**/workspace.xml
*/.idea/**/tasks.xml
*/.idea/**/usage.statistics.xml
*/.idea/**/dictionaries
*/.idea/**/shelf
*/.idea/**/gradle.xml
*/.idea/**/libraries
*/.idea/**/dataSources/
*/.idea/**/dataSources.ids
*/.idea/**/dataSources.local.xml
*/.idea/**/sqlDataSources.xml
*/.idea/**/dynamic.xml
*/.idea/**/uiDesigner.xml
*/.idea/**/dbnavigator.xml
*/.idea/**/contentModel.xml
*/.idea/**/encodings.xml
*/.idea/**/indexLayout.xml
*/.idea/**/vcs.xml
*/.idea/artifacts
*/.idea/compiler.xml*.rsuser
*/.idea/jarRepositories.xml*.suo
*/.idea/modules.xml*.user
*/.idea/*.iml*.userosscache
*/.idea/modules*.sln.docstates
*.iml*.userprefs
*.iprmono_crash.*
*.csproj
*.unityproj
*.sln
*.booproj
*.svd
*.mdb
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.apk
*.unitypackage
.consulo/
bld/
sysinfo.txt